body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2c2f33; /* Color de fondo de respaldo */
    background-image: url('background.png'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    color: #fff; /* Color de texto predeterminado */
}

p {
    justify-content: space-around;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #eee;
    padding: 10px;
}

nav a {
    text-decoration: none;
   color: #fff;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #ddd;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.logo img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

#logo {
    width: 200px;
    height: 200px;
    background: url("logoIndex.png");
    background-repeat: no-repeat;
    margin-left: 42.5%;
}

#centrar {
    text-align: center;
}

#blanco {
    color: white;
}

a {
    font-size: 14px;
    text-decoration: none;
    margin: 10px 20px;
    padding: 5px;
    display: inline-block;
    background-color: gray;
    color: white;
}

/* Estilos para ControlDeAdmin.html */

.container-fluid {
    padding: 20px;
}

.text-danger {
    color: #007bff;
}

.text-center {
    text-align: center;
    color:#007bff
}

.text-md-end {
    text-align: right;
}

.text-md-start {
    text-align: left;
}

.row {
    margin-bottom: 10px;
}

.col-3 {
    width: 25%;
    padding: 5px;
}

.col-9 {
    width: 75%;
    padding: 5px;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-control:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.d-flex {
    display: flex;
    align-items: center;
}

.bg-dark {
    background-color: #343a40 !important;
    color: white;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.bg-image {
    background-size: cover;
    background-position: center;
}

.text-white {
    color: white;
}
